[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-watch = "*"
pytest-cov = "*"
pytest-mock = "*"

[requires]
python_version = "3.7"
