[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "*"

[dev-packages]
pylint = "*"
flake8 = "*"
pycodestyle = "*"
pytest = "*"
pytest-watch = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
